@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Source+Code+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

.main {
    /*background-color: yellow;*/
    width: 90vw;
}

.sidebar {
    background-color: rgb(222, 216, 216);
    width: 434px;
    font-family: 'Fira Sans', sans-serif;
    height: 100vh;
    transition: transform 0.3s ease-in;
}

.sidebar nav {
    padding: 45px;
}

.sidebar nav li {
    list-style: none;
    font-size: 30px;
    padding: 33px 0;
}

.sidebar nav li a {
    text-decoration: none;
    color: black;
}

.container {
    display: flex;
}

.infocontainer {
    /*background-color: rgb(221, 160, 209);*/
    height: 58vh;
    width: 84vw;
    margin: 110px auto;
    display: flex;
    justify-content: space-around;
}

.devinfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Source Code Pro', monospace;
}

.hello {
    font-size: 65px;
}

.name {
    font-size: 50px;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
}

.about {
    font-size: 40px;
}

.moreabout {
    font-size: 22px;
    font-family: 'Fira Sans', sans-serif;
    margin-top: 23px;
}

.buttons {
    margin-top: 34px;
}

.btn {
    padding: 9px 4px;
    border-radius: 22 px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 21px;
    margin: 0 3px;
    cursor: pointer;
}

.btn-sm {
    font-size: 10px;
    padding: 7px 13px;
    margin: 10px 0;
}

.btn:hover {
    background-color: white;
    color: dodgerblue;
}

.devpic img {
    width: 300px;
}

.contactform {
    padding-top: 144px;
    padding: 0 34px;
    font-family: 'Fira Sans', sans-serif;
}

.contactform h1 {
    font-family: 'Source Code Pro', monospace;
    padding: 12px 0;
}

.contactform form div {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.contactform form div input {
    width: 26vw;
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 3px;
}

#emailHelp {
    font-size: 12px;
    color: midnightblue;
    margin: 0 5px;
    padding: 0 0;
}

#form-check {
    flex-direction: row;
}

#form-check input {
    width: 24px;
    margin: 3px 0;
}

.skillitem {
    display: flex;
    align-items: center;
    font-family: 'Source Code Pro', monospace;
    font-weight: 900;
}

.skillcontainer h2 {
    font-family: 'Fira Sans', sans-serif;
}

.skillitem p {
    font-family: 'Source Code Pro', monospace;
}

.skillcontainer h1 {
    margin: 23px;
    font-family: 'Fira Sans', sans-serif;
}

.skill {
    width: 265px;
    height: 6px;
    background-color: red;
    border: 2px solid black;
}

.hundred {
    background-color: blueviolet;
    width: 265px;
    ;
}

.fifty {
    width: 125px;
    background-color: aqua;
}

.t5 {
    width: 75px;
    background-color: yellow;
}

.cross {
    margin-left: 185px;
    margin-top: 10px;
}

@media (max-width: 1600px) {}